<!doctype html>
<html layout:decorate="~{layouts/main}">

<head>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>

        <section class="report" layout:fragment="content">

            <section class="title">
                <h2>Contact Types</h2>
            </section>

            <section class="container">

              <section class="data">

                <article class="persons-table">
                    <section class="header">
                        <div class="header-cell">Contact name</div>
                        <div class="header-cell">ID</div>
                        <div class="header-cell"><a th:href="@{/contact-types/new}">➕</a></div>
                    </section>

                    <section class="scroll">

                        <section class="row grid-contact-type" th:each="contactType : ${contactTypes}" >
                            <div  th:text="${contactType.value}">Állandó</div>
                            <div  th:text="${contactType.id}">1</div>
                            <div><a th:href="@{/contact-types/delete/{id}(id=${contactType.id})}">🗑️</a></div>
                        </section>

                        <form  th:if="${newRow}" th:action="@{/contact-types/save}" th:method="post" class="row new-row" >
                            <div> <input type="text" name="value" id="value" th:field="${contactType.value}" placeholder="a new contact type name..." /></div>
                            <div> <label></label></div>
                            <div>️<button type="submit">➕</button></div>
                        </form>

                    </section>

                </article>

              </section>
            </section>
        </section>

</body>

</html>