<!doctype html>
<html layout:decorate="~{layouts/main}">

<head>
<!--    <title>HOME</title>-->
    <link rel="stylesheet" href="../static/css/apartments.css" th:href="@{/css/apartments.css}">
</head>

<body>

    <section class="report"  layout:fragment="content">

        <section class="title">
            <h2>Main Page</h2>
        </section>

        <section class="container">

            <section class="data">

                <article class="persons-table">
                    <h2>Hello! Welcome on my Person Registry page...</h2>
                </article>

            </section>
        </section>
    </section>

</body>

</html>