<!doctype html>
<html layout:decorate="~{layouts/main}">

<head>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>

        <section class="report" layout:fragment="content">

            <section class="title">
                <h2>Person data</h2>
            </section>

            <section class="container">

              <section class="data">

                <article class="person-data underline">

                    <p class="align-right">Vezetéknév:</p>
                    <p th:text="${person.lastName}">Kovács</p>
                    <p class="align-right">Keresztnév:</p>
                    <p th:text="${person.firstName}">Péter</p>
                    <p class="align-right padding-right">Személyi azonosító:</p>
                        <form action="#"  id="cardForm" th:action="@{/persons/select/}">
                            <select id="selectIdCard" name="selectIdCard">              <!-- the drop-down list of card ids -->
                                <option th:each="pers : ${persons}"
                                                    th:text="${pers.idCard}"
                                                    th:value="${pers.id}"
                                                    th:selected="${pers.idCard == person.idCard} ?: 'selected'  ">673456KL</option>
                            </select>
                            <button type="submit" class="formButton">Select other person</button>
                        </form>


                </article>

                <article class="persons-table person-scroll">
                    <section class="header grid-address-header">
                        <div class="header-cell"> <a th:href="@{/addresses/new}"> ➕ </a> </div>
                        <div class="header-cell">Cím típusa</div>
                        <div class="header-cell">Irányítószám</div>
                        <div class="header-cell">Város</div>
                        <div class="header-cell">Közterület</div>
                        <div class="header-cell">Házszám</div>
                    </section>

                    <!-- a row for the new address created as a mini-form, coming first -->
                    <form th:if="${modifiedAddressId != 0L}"
                                    th:object="${newAddress}"
                                    th:action="@{/addresses/new/save}"
                                    method="post"
                                    class="new-row grid-new-address" >
                        <div>️<button type="submit" class="formButton">💾 </button></div>
                        <div th:text="*{addressType.value}">Állandó</div>
                        <div><input type="text" name="postalCode" th:value="*{postalCode}" /></div>
                        <div><input type="text" name="city" th:value="*{city}" /></div>
                        <div><input type="text" name="place" th:value="*{place}" /></div>
                        <div><input type="text" name="number" th:value="*{number}" /></div>
                        <div>
                            <a th:href="@{/addresses/{cancel}/{id} (cancel = ${cancel}, id = ${modifiedAddressId})}"> ❌ </a>
                        </div>
                    </form>

                    <!-- A row for each address object -->
                    <section th:unless="${address.id == modifiedAddressId}" th:each="address : ${person.addresses}" >

                        <section class="row grid-address">
                            <div><a th:href="@{/addresses/modify/{id} (id=${address.id})}"> 🛠️ </a></div>
                            <div><a th:href="@{/addresses/delete/{id} (id=${address.id})}">🗑️</a></div>
                            <div th:text="${address.addressType.value}">Állandó</div>
                            <div th:text="${address.postalCode}">1135</div>
                            <div th:text="${address.city}">Budapest</div>
                            <div th:text="${address.place}">Váci út</div>
                            <div th:text="${address.number}">72</div>
                        </section>

                        <!-- a row for each contact -->
                        <section th:unless="${contact.id == modifiedContactId}" th:each="contact, status : ${address.contacts}" class="grid-contact" >
                            <div class="contact-text">
                                <a th:if="${status.first}" th:href="@{/persons/{personId}/addresses/{addressId}/contacts/new (personId=${person.id}, addressId=${address.id})}" >➕</a>
                            </div>
                            <div th:text="${status.first} ? 'Elérhetőségek' : ''" class="contact-text"></div>
                            <div th:text="${contact.contactType.value} +':'" class="header-cell">Phone:</div>
                            <div th:text="${contact.value}" class="row grid-contact-value">+36-30-6566464</div>
                            <div>
                                <a th:href="@{/contacts/modify/{id} (id = ${contact.id})}" class="header-cell"> 🛠️️</a>
                            </div>
                            <div>
                                <a th:href="@{/contacts/delete/{id} (id = ${contact.id})}" class="header-cell"> 🗑️</a>
                            </div>
                        </section>

                        <!-- a row for the new contact created as a mini-form, coming last -->
                        <form th:if="${modifiedContactId != 0L and address.id == contactDTO.addressId}"
                                        th:object="${contactDTO}"
                                        th:action="@{/contacts/save/{contactId} (contactId=${contactDTO.id})}"
                                        th:method="post"
                                        class="row new-row grid-contact">
                            <div><button type="submit" class="formButton" > 💾 </button></div>
                            <div><p></p></div>
                            <div>
                                <select th:field="*{contactTypeId}" class="header-cell">
                                    <option th:each="contactType : ${contactTypes}"
                                                        th:text="${contactType.value}"
                                                        th:value="${contactType.id}">phone</option>
                                </select>
                            </div>
                            <div><input type="text" name="value" id="value" th:value="*{value}" placeholder="a new contact value ..." /></div>
                            <div>
                                <a th:href="@{/contacts/{cancel}/{id} (cancel = ${cancel}, id = ${contactDTO.id})}"> ❌ </a>
                            </div>
                        </form>

                    </section>

                </article>

              </section>
            </section>

<!--            This small JS code is needed so that we can gain the selected value of the option select - it changes action link upon selecting a new item in select -->
            <script type="text/javascript">
                console.log("JS run...");
                var e = document.getElementById('selectIdCard');
                e.addEventListener("change", setFormAction);
                setFormAction();

                function setFormAction() {
                    var frm = document.getElementById('cardForm');
                    if (frm) {
                        console.log("form found...");
                        var e = document.getElementById('selectIdCard');
                        var text = e.options[e.selectedIndex].text;
                        console.log(text);
                        frm.action = '/persons/select/' + text;
                    }
                }
            </script>

        </section>

</body>

</html>